.container{
	width: 100%;
}

.title{
	font-size: 5.5em;
	text-align: center;
	letter-spacing: -4px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Montserrat', sans-serif;
	padding: 0;
}

p{
	text-align: center;
	margin: 0;
}

.hand-ins{
	padding-top: 50px;
}

.hand-ins > p {
	padding-top: 2%;
}

.date{
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
}

body{
	background-color: #222;
	color: #fff;
}

:not(span){
	font-family: 'Open Sans', sans-serif;
}

.warn{
	color: #f39c12;
}

.bad{
	color: #e74c3c;
}

.safe{
	color: #00a379;
}
